.btn{
    font-size: 25px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: rgb(230, 221, 221);
    color: black;
}
.btn:hover{
    background-color:blanchedalmond;
    color: aliceblue;
    border-radius: 7px;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.btn:link{
    color: chartreuse;
}
.btn:active {
    color: red;
}
.btn:visited {
    color:rgb(204, 152, 9);
}
h1 {
    background-color: rgb(225,78,22);
}
h3 {
    background-color: rgb(173,26,58);
    color: rgb(246,193,189);
}
p {
    background-color: bisque;
}
input:focus{
    background-color: blanchedalmond;
}
button {
    cursor: pointer;
}
table,th,td {
    border: 1px solid black;
}
table {
    width: 30%;
    border-collapse: collapse;
}
tr {
    height: 28px;
}
.textaligncenter,h1,h2,h3 {
    text-align: center;
}

thead tr:nth-child(1) {
    background-color: rgb(126, 68, 47);
}
tr:nth-child(1) {
    background-color: rgb(253,162,23);
}
tr:nth-child(2) {
    background-color: rgb(253,162,23);
}
tr:nth-child(3) {
    background-color: rgb(253,162,23);
}
tr:nth-child(4) {
    background-color: rgb(253,162,23);
}
tr:hover {
    background-color: rgb(246,193,189);
}